<link rel="stylesheet" href="/styles/header.css">
<header id="page-header">
	<h1>My Self-Love Supply</h1>
</header>
<nav id="navbar" class="">
	<ul>
		<li><a href="/">Home</a></li>

		<li class="dropdown">
			<a href="">Blog</a>
			<ul class="dropdown-content">
				<li><a href="">Mental Health</a></li>
				<li><a href="">Self Care</a></li>
				<li><a href="">Wellness</a></li>
				<li><a href="">Personal Growth</a></li>
			</ul>
		</li>

		<li class="dropdown">
			<a href="">Shop</a>
			<ul class="dropdown-content">
				<li><a href="/shop">Our Products</a></li>
				<li><a href="">Partnered Products</a></li>
			</ul>
		</li>

		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
		<li>
			<div class="search-group">
				<input id="nav-search" type="search" placeholder="Search blog posts and products"><button>🔎</button>
			</div>
		</li>
	</ul>
</nav>