<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header id="page-header">
	<img class ="logowhite" src="/styles/logowhite.png">
</header>
<nav id="navbar" class="">
	<ul>
		<li><a href="/">Home</a></li>

		<li class="dropdown">
			<a href="">Blog</a>
			<ul class="dropdown-content">
				<li><a href="">Mental Health</a></li>
				<li><a href="">Self Care</a></li>
				<li><a href="">Wellness</a></li>
				<li><a href="">Personal Growth</a></li>
			</ul>
		</li>

		<li class="dropdown">
			<a href="">Shop</a>
			<ul class="dropdown-content">
				<li><a href="/shop">Our Products</a></li>
				<li><a href="/affiliate-products">Partnered Products</a></li>
			</ul>
		</li>

		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
		<li>
			<div class="search-group">
				<input id="nav-search" type="search" placeholder="Search blog posts and products"><button>🔎</button>
			</div>
		</li>

	</ul>
</nav>