<link rel="stylesheet" href="/styles/header.css">
<header id="page-header">
	<h1>My Self-Love Supply</h1>
</header>
<nav id="navbar" class="">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="">Blog</a></li>
		<li>
			<a href="/">Shop</a>
			<ul class="dropdown-content">
				<li><a href="">Link 1</a></li>
				<li><a href="">Link 2</a></li>
				<li><a href="">Link 3</a></li>
			</ul>
		</li>
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
		<li>
			<div class="search-group">
				<input id="nav-search" type="search" placeholder="Search blog posts and products"><button>🔎</button>
			</div>
		</li>
	</ul>
</nav>