/* #navbar * {outline: solid 1px red;} */

#page-header {
	position: relative;
	padding: 2em;
	background: white;
	z-index: 2;
}

#navbar {
	position: sticky;
	top: 0;
	width: 100%;
	background: white;
	box-shadow: 0 0 4px 1px #0004;
}

#navbar > ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: auto;
	width: max-content;
	align-items: center;
}

#navbar a {
	display: block;
	padding: 1em 2em;
	font-size: 16px;
}

.dropdown {
	position: relative;
	overflow: visible;
}

.dropdown .dropdown-content {
	display: none;
	top: 100%; left: 0;
	position: absolute;
	z-index: 1;
	list-style: none;
	width: max-content;
}

.dropdown:hover .dropdown-content {
	display: block;
}