#products-header {
	font-size: 20px;
}

#products-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
}

.product {
	display: flex;
	flex-direction: column;
}

.product > img {
	width: 256px; height: 256px;
	background-color: black;
}

.product > h2 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0.5em; margin-bottom: 1em;
}

.product > button {
	width: 100%;
	padding: 0.8em;
}

.product > a {
	display: inline;
	padding: 0;
	margin: 0;
}

#new-product {
	padding: 0;
}

#new-product > a {
	display: block;
	width: 100%; height: 100%;
	text-decoration: none;
}