#products-header, #affiliates-header {
	font-size: 20px;
	text-align: center;
}

#products-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
}

.product {
	display: flex;
	flex-direction: column;
}

.product > img {
	width: 256px; height: 256px;
	background-color: black;
}

.product > h2 {
	font-size: 20px;
	font-weight: bold;
	margin: 0.5em 0;
}

.product > p {
	margin-bottom: 1em;
}

.product > button {
	width: 100%;
	padding: 0.8em;
	margin-top: auto;
	color: white;
	background: #594a41;
}

.product > a {
	display: inline;
	padding: 0;
	margin: 0;
}

#new-product {
	padding: 0;
}

#new-product > a {
	display: block;
	width: 100%; height: 100%;
	text-decoration: none;
}

#editor-link {
	text-align: right;
}

#affiliates-list {
	list-style: none;
}

.affiliate-product {
	display: flex;
	justify-content: flex-start;
	max-width: 800px;
}

.affiliate-product > img {
	display: inline;
	width: 256px; height: 256px;
	background-color: black;
	margin-right: 2em;
}

.affiliate-product > div {
	display: inline-block;
}

.affiliate-product > div > p {
	margin-top: 1em;
}
