#products-header {
	font-size: 20px;
}

#products-list {
	display: grid;
	grid-template-columns: repeat(3, min-content);
}

.product {
	display: flex;
	flex-direction: column;
}

.product > img {
	width: 256px; height: 256px;
	background-color: black;
}

.product > span {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0.5em; margin-bottom: 1em;
}

.product > button {
	width: 100%;
	padding: 0.8em;
}

.product > a {
	display: inline;
	padding: 0;
	margin: 0;
}