* {
	padding: 0; margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #F2E2E2;
}

main {
	margin: 2.5em auto;
	width: max-content;
}

a {
	color: #00B7FF;
	padding: 0.5em 2em;
	border-radius: 2em;
	width: max-content;
}

.panel {
	background-color: #ffffff;
	padding: 2em;
	color: black;
	box-shadow: 0 0 4px 1px #0004;
	border: solid 2px #fff8;
	border-radius: 1px;
	margin: 2em;
}

.panel :is(input, textarea, button) {
	background: white;
	color: #594a41;
	margin: 0.5em 0;
	margin-bottom: 1.5em;
	padding: 0.5em;
	border-radius: 0.4em;
	font-size: 1rem;
	border: none;
	box-shadow: 0 0 4px #0004;
	font-family: inherit;
}

.panel *:last-child {
	margin-bottom: 0;
}

.panel button {
	width: max-content;
}

textarea {
	resize: vertical;
}

.file-uploader {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	align-items: center;
	background: white;
	margin: 0.5em 0;
	margin-bottom: 1.5em;
	padding: 0.5em;
	border-radius: 0.4em;
	font-size: 1rem;
	border: none;
	box-shadow: 0 0 4px #0004;
	font-family: inherit;
}

.file-uploader > img {
	width: 200px;
}

.file-uploader > input[type=file] {
	margin: 0;
}

h1{
	color: #594a41;
	text-align: center;
	display: block;
	margin-left: 0;
	margin-right: 0;

}

/* Logo in navbar */
.logowhite{
	height: 10%;
	width: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Navbar container */
.navbar {
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
	float: left;
	font-size: 16px;
	color: #594a41;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: #594a41;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: white;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }

  /* search bar */
  .navbar input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
  }

/* Social Media icons within the header 
/* Style all icons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	float:right;

  }
  
  /* hover effect */
  .fa:hover {
	opacity: 0.7;
  }
  
  
  /* Facebook */
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  /* Twitter */
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }

    /* Instagram*/
	.fa-instagram {
		background: #000000;
		color: white;
	  }

.guide{
	  height: 50%;
	  width: 50%;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 5%;
}

/*blog post design */

	  .cards {
		margin: 0 auto;
		max-width: 1000px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
		grid-auto-rows: auto;
		gap: 20px;
		font-family: sans-serif;
		padding-top: 30px;
	}
	
	.cards * {
		box-sizing: border-box;
	}
	
	.card__image {
		width: 100%;
		height: 150px;
		object-fit: cover;
		display: block;
		border-top: 2px solid #333333;
		border-right: 2px solid #333333;
		border-left: 2px solid #333333;
	}
	
	.card__content {
		line-height: 1.5;
		font-size: 0.9em;
		padding: 15px;
		background: #fafafa;
		border-right: 2px solid #333333;
		border-left: 2px solid #333333;
	}
	
	.card__content > p:first-of-type {
		margin-top: 0;
	}
	
	.card__content > p:last-of-type {
		margin-bottom: 0;
	}
	
	.card__info {
		padding: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #555555;
		background: #eeeeee;
		font-size: 0.8em;
		border-bottom: 2px solid #333333;
		border-right: 2px solid #333333;
		border-left: 2px solid #333333;
	}
	
	.card__info i {
		font-size: 0.9em;
		margin-right: 8px;
	}
	
	.card__link {
		color: #64968c;
		text-decoration: none;
	}
	
	.card__link:hover {
		text-decoration: underline;
	}
	

/* Footer */

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);


#social-platforms {
  position:relative;
  top:100px;
  top:25vh;
  font-size:1rem;
  text-align:center;
  height:250px;
  overflow:hidden;
}


.btn {
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden
}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,.btn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btn:focus > span {
  background:#9a9a9a
}

.btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121
}

.btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  border-radius:0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
  color:#3b5998
}

.btn-facebook > span {
  background:#3b5998
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
  color:#55acee
}

.btn-twitter > span {
  background:#55acee
}


/*Instagram*/
.btn-instagram:hover > i,.btn-instagram:focus > i {
  color:#000000
}

.btn-instagram > span {
  background:#000000
}